* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(57, 57, 206);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: all .5s;
}

h1 {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    top: 140px;
}

main {
    display: flex;
    justify-content: center;
    padding: 200px;
    transition: .5s;
}

/* Caixa */
#form {
    padding: 10px;
    gap: 10px;
    background-color: white;
    color: black;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 3px black;
    transition: .5s;
}

/* Textos da caixa */
#form p {
    padding: 7px;
    margin: 5px;
    gap: 10px;
}

/* Input */
#form p .anos {
    padding: 2px;
    padding-left: 12px;
    margin: 5px;
    border-radius: 10px;
    transition: transform .5s;
}

/* Botão */
#form .btn {
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    background-image: linear-gradient(90deg, rgb(89, 89, 219), rgb(164, 164, 243));
    color: white;
    transition: transform .5s, box-shadow .5s;
    cursor: pointer;
}


#form .btn:hover {
    transform: scale(1.06);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.205);
}

/* Respostas */
#form #resultado {
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

/* Imagens */
#form .foto {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 50%;
    transition: transform .5s, box-shadow .5s;
}

#form .foto:hover {
    transform: translateY(-3px);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.315);
}

/* Linha do hr */
#form hr {
    display: block;
    margin: auto;
    width: 90%;
}

/* Remover objetos do input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Creditos */
a {
    position: relative;
    bottom: 160px;
    left: 9px;
    display: block;
    margin: auto;
    font-size: 13px;
    font-style: italic;
    text-decoration: none;
    color: white;
    transition: color .5s;
    width: fit-content;
}

a:hover {
    color: rgba(255, 255, 255, 0.308);
}

/* icone */
a img {
    position: relative;
    bottom: -3px;
}

/* Telas pequenas */
@media screen and (max-width: 878px){
    #form  p {
        font-size: 13px;
    }

    #form p .anos {
        width: fit-content;
        height: 25px;
    }

    #form input .sex {
        width: 80px;
    }
}